.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  margin: 3px;
  width: 20rem;
  padding-left: 10px;
}

#searchWindow {
  position: relative;
  width: 441px;
  height: 48px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #FFFFFF;
  mix-blend-mode: normal;
  border: 1px solid #979797;
  border-radius: 0px;

}
